@model CampusSnapshots.ViewModels.PostIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="assets">
    <h3>Posts</h3>
    <div id="postsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr class="assetRow">
                        <td class="">
                            <a asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id">
                                <img src="@post.Url" class="imageCell" />
                            </a>
                        </td>
                        <td class="">@post.Title</td>
                        <td class="">@post.Description</td>
                        <td class="">@post.Status.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

